@font-face {
  font-family: "Vazir";
  font-weight: 700;
  src: url(../../../assets/shared/fonts/vazir/Vazir-Bold-FD-WOL.woff2),
    url(../../../assets/shared/fonts/vazir/Vazir-Bold-FD-WOL.woff),
    url(../../../assets/shared/fonts/vazir/Vazir-Bold-FD-WOL.ttf),
    url(../../../assets/shared/fonts/vazir/Vazir-Bold-FD-WOL.eot);
}

@font-face {
  font-family: "Vazir";
  font-weight: 400;
  src: url(../../../assets/shared/fonts/vazir/Vazir-FD-WOL.woff2),
    url(../../../assets/shared/fonts/vazir/Vazir-FD-WOL.woff),
    url(../../../assets/shared/fonts/vazir/Vazir-FD-WOL.ttf),
    url(../../../assets/shared/fonts/vazir/Vazir-FD-WOL.eot);
}

@font-face {
  font-family: "Vazir";
  font-weight: 500;
  src: url(../../../assets/shared/fonts/vazir/Vazir-Medium-FD-WOL.woff2),
    url(../../../assets/shared/fonts/vazir/Vazir-Medium-FD-WOL.woff),
    url(../../../assets/shared/fonts/vazir/Vazir-Medium-FD-WOL.ttf),
    url(../../../assets/shared/fonts/vazir/Vazir-Medium-FD-WOL.eot);
}

@font-face {
  font-family: "Vazir";
  font-weight: 100;
  src: url(../../../assets/shared/fonts/vazir/Vazir-Thin-FD-WOL.woff2),
    url(../../../assets/shared/fonts/vazir/Vazir-Thin-FD-WOL.woff),
    url(../../../assets/shared/fonts/vazir/Vazir-Thin-FD-WOL.ttf),
    url(../../../assets/shared/fonts/vazir/Vazir-Thin-FD-WOL.eot);
}
