<form [formGroup]="form">
  <nb-card size="medium">
    <nb-card-body>
      <nb-stepper orientation="vertical" [linear]="true">
        <nb-step label="مرحله اول">
          <h4>مقدمات</h4>
          <button nbButton disabled nbStepperNext>prev</button>
          <button nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step
          [stepControl]="form.get(getLevel(Li))"
          *ngFor="let item of formStructure; let Li = index"
          [label]="item.levelLabel"
        >
          <div [formArrayName]="getLevel(Li)">
            <div *ngFor="let ctrl of item.levelFormData; let Ci = index">
              <!-- I N P U T -->
              <label>{{ ctrl.label }}</label>
              <input
                *ngIf="ctrl.kind === 'input'"
                style="width: 100%; margin: 10px 0"
                [type]="ctrl.type"
                nbInput
                fullWidth
                [formControlName]="Ci"
              />
            </div>
          </div>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>
</form>
